@import "../../styles.scss";

h3 {
  text-align: center;
  margin: 0;
}
.about,
.adresses {
  margin: 30px 2vw;
}
.phone {
  display: flex;
  align-items: center;
  justify-content: center;
}
.adresses {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .about {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .img-about {
    width: 40%;
    img {
      width: 100%;
    }
  }
  .phone {
    max-width: 47vw;
  }
  .mobile-map {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .img-about {
    width: 100%;
    img {
      height: 200px;
    }
  }
  .adresses {
    flex-direction: column;
  }

  .map {
    display: none;
  }
}
