.toolbar {
  width: 100vw;
}

.toolbar-row {
  box-shadow: 0 3px 5px -1px #673ab724, 0 6px 10px #673ab724,
    0 1px 18px #673ab724;
}

a {
  text-decoration: none;
}
.company-name {
  color: black;
  line-height: 4.34;
  text-align: center;
}
.company-name:hover {
  color: #673ab7;
}

.reg-button {
  color: white;
}

@media screen and (min-width: 980px) {
  .toolbar-row-content {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .text {
    display: flex;
  }
  .company-name {
    font-size: 3.5vh;
    min-height: 8vh;
  }
}

@media screen and (min-width: 768px) {
  .main-header {
    height: 12vh;
  }
  .nav-header {
    height: 7.2vh;
  }
  .company-info {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-wrap: wrap;
    color: black;
  }

  .toolbar-row-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo,
  .logo > img {
    height: 8vh;
  }

  .company-name {
    padding-left: 1rem;
    font-weight: normal;
    letter-spacing: 10px;
    line-height: 4.34;
    text-align: center;
  }
  .company-name:hover {
    color: #673ab7;
  }

  .nav-list {
    width: 100%;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    a {
      color: #673ab7;
    }
    a:hover {
      color: #6f36b3;
      text-shadow: #0003 0 0 2px;
    }
  }
  .menu-button {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .toolbar-row-content {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .company-name {
    width: 70%;
  }
  .text {
    margin-top: -3vh;

    display: grid;
    grid-template-rows: 4vh 4vh;
  }
  .text-item {
    height: 4vh;
  }
}

@media screen and (max-width: 767px) {
  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
  }
  .nav-header {
    display: none;
  }

  .logo {
    height: 73px;
    img {
      height: 73px;
    }
  }
  .header-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .company-name {
    display: none;
  }
  .reg-button {
    display: none;
  }
}
