<header>
  <mat-toolbar class="toolbar">
    <mat-toolbar-row class="main-header toolbar-row toolbar-row-content">
      <div>
        <a
          href="http://rabotarealty.ru/"
          aria-label="Работа в недвижимости"
          class="company-info"
        >
          <img src="../../assets/logo.png" alt="logo" class="logo" />

          <div class="text" tabindex="10">
            <div class="text-item">
              <h1 class="company-name">{{ "Работа" | uppercase }}</h1>
            </div>
            <div class="text-item">
              <h1 class="company-name">{{ "в недвижимости" | uppercase }}</h1>
            </div>
          </div>
        </a>
      </div>
      <div class="header-button">
        <button
          mat-raised-button
          color="primary"
          (click)="openDialog()"
          class="reg-button"
        >
          Записаться на собеседование
        </button>
        <div class="menu-button">
          <button
            mat-icon-button
            class="menu-icon"
            aria-label="Menu button"
            [matMenuTriggerFor]="menu"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="vacancy">
              Вакансии
            </button>
            <button mat-menu-item>
              <a [href]="links[3].route">{{ links[3].name }}</a>
            </button>
            <button mat-menu-item>
              <a href="/registration">Записаться на собеседование</a>
            </button>
          </mat-menu>

          <mat-menu #vacancy="matMenu">
            <button mat-menu-item *ngFor="let link of links | slice: 0:3">
              <a [href]="link.route">{{ link.name }}</a>
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="nav-header toolbar-row">
      <ul class="nav-list toolbar-row-content">
        <li *ngFor="let link of links">
          <a [href]="link.route">{{ link.name }}</a>
        </li>
      </ul>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
