<div class="timer">
  <h1 class="timer-title">{{ "До старта обучения осталось:" | uppercase }}</h1>
  <div class="date-row">
    <div class="date">
      {{ days }}
      <span class="date-text">{{ daysText }}</span>
    </div>
    <div class="date">
      {{ hours }} <span class="date-text">{{ hoursText }}</span>
    </div>
    <div class="date">
      {{ minutes }} <span class="date-text">{{ minutesText }}</span>
    </div>
    <div class="date">
      {{ seconds }} <span class="date-text">{{ secondsText }}</span>
    </div>
  </div>
</div>
