<div class="expert-page">
  <h1 class="title">
    {{ "Открой для себя новые горизонты!" | uppercase }}
  </h1>
  <hr />
  <div class="conditions-block">
    <mat-card class="condition tile">
      <h2>Достойные условия для экспертов:</h2>
      <mat-list role="list">
        <mat-list-item role="listitem">Оплата до 70% от сделки</mat-list-item>
        <mat-list-item role="listitem"
          >Бесплатная реклама на всех интернет ресурсах
        </mat-list-item>
        <mat-list-item role="listitem"
          >Юридическая помощь на всех этапах сделки</mat-list-item
        >
        <mat-list-item role="listitem">Покрытие мобильной связи</mat-list-item>
        <mat-list-item role="listitem"
          >Позитивная рабочая атмосфера</mat-list-item
        >
        <mat-list-item role="listitem"
          >Семинары, тренинги, вебинары за счет компании</mat-list-item
        >
      </mat-list>
    </mat-card>

    <mat-card class="condition tile">
      <h2>Мы ждём тебя, если ты:</h2>
      <mat-list role="list">
        <mat-list-item role="listitem">Жаждешь самореализации</mat-list-item>
        <mat-list-item role="listitem"
          >Хочешь заработать на свою недвижимость</mat-list-item
        >
        <mat-list-item role="listitem"
          >Хочешь заработать на свою машину</mat-list-item
        >
        <mat-list-item role="listitem"
          >Устал(а) работать за 20 тысяч рублей</mat-list-item
        >
        <mat-list-item role="listitem"
          >Хочешь расти в коллективе единомышленников</mat-list-item
        >
        <mat-list-item role="listitem">Жаждешь построить карьеру</mat-list-item>
        <mat-list-item role="listitem"
          >Мечтаешь найти дело себе по душе</mat-list-item
        >
      </mat-list>
    </mat-card>

    <mat-card class="condition tile">
      <h2>Обрети надежное плечо</h2>
      <p class="condition-paragraph">
        Сегодня, в столь непростое время, трудно работать в одиночку, без
        коллектива.
      </p>
      <p class="condition-paragraph">
        Информационный голод, недостаток рекламного ресурса, отсутствие
        юридической помощи да и просто моральной поддержки!
      </p>
      <p class="condition-paragraph">
        Мы понимаем, какой объем работы совершает агент полного цикла, мы
        уважаем его труд и готовы оплачивать его достойно!
      </p>
      <p class="condition-paragraph">
        Если ты готов на работу в новой команде – приходи к нам и ты получишь
        самые лучшие условия в городе!
      </p>
    </mat-card>
  </div>
  <app-reg-form></app-reg-form>
</div>
