@import "../../styles.scss";

.parallax-image {
  background: url("../../assets/expert-bg-.jpeg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.black-bg {
  width: 100%;
  min-height: 20vh;
}

.director-quote {
  background: #cccccc24;
  text-align: center;
}
.hugs-image {
  width: 100%;
}
@media screen and (min-width: 990px) {
  .expert-block {
    display: grid;

    grid-template-columns: 1fr 1fr;
    margin: 30px 2vw 30px 2vw;
  }
  .greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;

    .text-container,
    .img-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 60vw;
      margin-bottom: 30px;
    }
    .text-container > p {
      font: 400 2.5vh/2.5vh Roboto, "Helvetica Neue", sans-serif;
    }
  }
}
@media screen and (min-width: 768px) {
  .mobile-title {
    display: none;
  }
}
@media screen and (max-width: 989px) {
  .img-container img {
    width: 50%;
  }
  .expert-block {
    margin: 30px 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
  }
}
@media screen and (max-width: 767px) {
  .parallax-image {
    display: none;
  }
  .page-title {
    background: url("../../assets/expert-bg-.jpeg");
    background-position: bottom;
    background-size: cover;
  }
}
