<div class="expert-page">
  <header class="expert-page-header">
    <mat-toolbar color="primary" class="mobile-title toolbar-row">
      <span>Риэлтор-эксперт</span>
    </mat-toolbar>
    <div class="parallax-image">
      <div class="black-bg">
        <p class="header-page-text title">
          {{ "Обрети надёжное плечо! " | uppercase }}
        </p>
      </div>
    </div>
    <div class="page-title">
      <div class="black-bg">
        <h1 class="header-page-text title">
          {{ "Обрети надёжное плечо! " | uppercase }}
        </h1>
      </div>
    </div>
  </header>

  <conditions-block [conditions]="conditions"></conditions-block>

  <div class="expert-block">
    <div class="greeting director-quote">
      <div class="img-container">
        <img src="../../assets/circle-photo.png" alt="" />
      </div>
      <div class="text-container">
        <p>
          Меня зовут Лариса Валентиновна. Я являюсь директором агентства
          недвижимости “КВАРТАЛcity”.
        </p>
        <p>
          Сегодня перед нами стоит задача формирования новой команды
          единомышленников-коллег, которые готовы приносить людям пользу,
          зачастую решая нелёгкие задачи в жилищных вопросах наших клиентов.
        </p>
        <p>
          И сегодня наши двери открыты как для тех, кто только решил научиться
          этой замечательной профессии, так и для тех, кто уже имеет
          определённый опыт работы в этой сфере.
        </p>
        <p>
          Возможно, некоторые из вас когда-то давно работали в недвижимости, но
          мысль вернуться не оставляет вас и по сей день, возможно, вы являетесь
          действующим агентом, но по тем или иным причинам вам некомфортно
          работать в вашей организации, а возможно, вы являетесь
          агентом-посредником, одиночкой на этом рынке и вам не хватает
          коллектива людей, делающих с вами одно общее дело - мы рады всем!
        </p>
      </div>
    </div>

    <div class="greeting">
      <div class="text-container">
        <h2 class="title">
          Если ты вновь готов на работу в команде - приходи к нам! И ты получишь
          самые лучшие условия в городе!
        </h2>
        <img src="../../assets/hugs.jpeg" alt="We hug you" class="hugs-image" />
      </div>
    </div>
  </div>

  <app-reg-form></app-reg-form>
</div>
