<div class="expert-page">
  <div class="parallax-image">
    <div class="black-bg">
      <p class="header-page-text title">
        {{ "Обрети надёжное плечо! " | uppercase }}
      </p>
    </div>
  </div>

  <conditions-block [conditions]="conditions"></conditions-block>

  <div class="expert-block">
    <div class="greeting director-quote">
      <div class="img-container">
        <img src="../../assets/circle-photo.png" alt="" />
      </div>
      <div class="text-container">
        <p>
          Меня зовут Лариса Валентиновна. Я являюсь директором агентства
          недвижимости “КВАРТАЛcity”. Сегодня перед нами стоит задача
          формирования новой команды единомышленников- коллег, которые готовы
          приносить людям пользу, зачастую решая нелегкие задачи в жилищных
          вопросах наших клиентов. И сегодня наши двери открыты как для тех, кто
          только решил научиться этой замечательной профессии, так и для тех,
          кто уже имеет определённый опыт работы в этой сфере. Возможно, кто-
          либо из вас давно работал в недвижимости, но мысль вернуться не
          оставляет вас, возможно, вы являетесь действующим агентом, но по тем
          или иным причинам вам некомфортно работать в вашей организации,
          возможно, вы являетесь агентом- посредником, одиночкой на этом рынке и
          вам не хватает коллектива людей, делающих с вами одно общее дело- мы
          рады всем!
        </p>
      </div>
    </div>

    <div class="greeting">
      <div class="img-container">
        <h2>Если ты вновь готов на работу в команде - приходи к нам!</h2>
        <h2>Ты получишь самые лучшие условия в городе!</h2>
      </div>
      <div class="text-container">
        <p>
          Сегодня, в столь непростое время, трудно работать в одиночку, без
          коллектива.
        </p>
        <p>
          Информационный голод, недостаток рекламного ресурса, отсутствие
          юридической помощи да и просто моральной поддержки!
        </p>
        <p>
          Мы понимаем, какой объем работы совершает агент полного цикла, мы
          уважаем его труд и готовы оплачивать его достойно!
        </p>
      </div>
    </div>
  </div>

  <app-reg-form></app-reg-form>
</div>
