.title {
  text-align: center;
  letter-spacing: 5px;
  margin-top: 30px;
  width: 100vw;
}

.conditions-block {
  margin: 30px 2vw 0 2vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1vw;
}

.condition {
  word-wrap: normal;
  border-radius: 2%;
  padding: 10px;
  box-shadow: 0 3px 5px -1px #673ab724, 0 6px 10px #673ab724,
    0 1px 18px #673ab724;
}

.condition-paragraph {
  font-size: 16px;
}

.promises-block {
  margin: 30px 2vw 0 2vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vw;
}

.accordion {
  margin: 30px 2vw 0 2vw;
}
.expansion-header {
  align-self: center;
  font-size: 16px;
  font-weight: bold;
}
.expansion-text {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 16px;
}
.limited-offer {
  margin: 30px 5vw 0 5vw;
}
.five-groups-title {
  word-wrap: normal;
  padding: 10px;
  text-align: center;
}
.five-groups-block {
  display: grid;
  grid-gap: 5vw;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 30px;
}
.studying-date {
  word-wrap: normal;
  border-radius: 2%;
  box-shadow: 0 3px 5px -1px #673ab724, 0 6px 10px #673ab724,
    0 1px 18px #673ab724;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 14vw;
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
}
