<div class="intern-page">
  <h1 class="title">
    {{ "Начни свою карьеру в недвижимости с нами!" | uppercase }}
  </h1>
  <hr />
  <conditions-block [conditions]="conditions"></conditions-block>

  <h1 class="title">{{ "Тебя ожидает" | uppercase }}</h1>
  <div class="accordion">
    <mat-accordion>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title class="expansion-header">
            21 час теоретических занятий
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="expansion-text">После окончания обучения вы будете знать:</p>
        <mat-list>
          <mat-list-item>Основы законодательства</mat-list-item>
          <mat-list-item>Методы налаживания деловых связей</mat-list-item>
          <mat-list-item>Технологии работы с клиентами</mat-list-item>
          <mat-list-item>Продукты компании</mat-list-item>
          <mat-list-item>Методы презентаций</mat-list-item>
          <mat-list-item>Психологию продаж</mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="expansion-header">
            Две недели интенсивной практики с персональным
            наставником</mat-panel-title
          ></mat-expansion-panel-header
        >
        <p class="expansion-text">
          Опытные наставники будут сопровождать вас плечом к плечу к вашему
          успеху и поделятся своими накопленными опытом и знаниями!
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="expansion-header"
            >Активные тренинги в команде</mat-panel-title
          ></mat-expansion-panel-header
        >
        <p class="expansion-text">
          Тренинги по обработке скриптов и различные семинары помогут быстро
          влиться в рабочий процесс и выйти на сделку уже в течение первого
          месяца работы!
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="expansion-header"
            >Активные упражнения на скриптах-тренажёрах</mat-panel-title
          ></mat-expansion-panel-header
        >
        <p class="expansion-text">
          Вы получите неограниченные возможности для совершенствования Ваших
          навыков и знаний, обучаясь у лучших и решая свои сверхамбициозные
          задачи!
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="limited-offer">
    <h1 class="five-groups-title title">
      {{
        "Только пять групп обучения на условиях 40% комиссии с первой сделки!"
      }}
    </h1>
    <div class="five-groups-block">
      <div class="studying-date danger-tile">29 июня</div>
      <div class="studying-date danger-tile">15 июля</div>
      <div class="studying-date danger-tile">15 августа</div>
      <div class="studying-date danger-tile">27 августа</div>
      <div class="studying-date danger-tile">9 сентября</div>
    </div>
  </div>
  <app-reg-form></app-reg-form>
</div>
