@import "../../styles.scss";
@import "~swiper/scss";
@import "~swiper/scss/pagination";
@import "~swiper/scss/navigation";

.expansion-header {
  align-self: center;
  font-size: 16px;
  font-weight: bold;
}
.expansion-text {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 16px;
}
.limited-offer {
  margin: 30px 5vw 0 5vw;
  color: red;
}
.five-groups-title {
  font-weight: 900;
}
.five-groups-block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 30px;
}
.studying-date {
  word-wrap: normal;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14vw;
  text-align: center;
}
.expectation-pic {
  width: 100%;
  padding: 0;
}

.expectation-list {
  list-style: url("../../assets/knowledge.png");
}
@media screen and (min-width: 768px) {
  .accordion {
    display: none;
  }
  .four-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3vw;
    margin: 30px 2vw 0 2vw;
  }
  .expectation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  .expectation-text {
    margin: 15px;
    p {
      font-size: medium;
    }
  }
  .expectation-title {
    height: fit-content;
    margin-top: 15px;
  }

  .five-groups-block {
    grid-gap: 5vw;
  }
  .studying-date {
    font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  }
}
@media screen and (max-width: 767px) {
  .four-cards {
    display: none;
  }
  .accordion {
    margin: 30px 5vw 0 5vw;
  }
  .five-groups-block {
    grid-gap: 2vw;
  }
  .studying-date {
    font-size: small;
  }
}
