<div class="intern-page">
  <h1 class="title">
    {{ "Начни свою карьеру в недвижимости с нами!" | uppercase }}
  </h1>
  <hr />
  <conditions-block [conditions]="conditions"></conditions-block>

  <h1 class="title">{{ "Тебя ожидает" | uppercase }}</h1>

  <div class="four-cards">
    <mat-card class="expectation tile" tabindex="1234">
      <div class="expectation-text">
        <h2 class="expectation-title">{{ expectations[0].title }}</h2>

        <mat-list role="list">
          <mat-list-item
            role="listitem"
            *ngFor="let text of expectations[0].text"
          >
            {{ text }}
          </mat-list-item>
        </mat-list>
      </div>
      <img [src]="expectations[0].img" alt="picture" class="expectation-pic" />
    </mat-card>
    <mat-card class="expectation tile" tabindex="1234">
      <img [src]="expectations[1].img" alt="picture" class="expectation-pic" />
      <div class="expectation-text">
        <h2 class="expectation-title">{{ expectations[1].title }}</h2>

        <p *ngFor="let text of expectations[1].text">{{ text }}</p>
      </div>
    </mat-card>
    <mat-card class="expectation tile" tabindex="1234">
      <div class="expectation-text">
        <h2 class="expectation-title">{{ expectations[2].title }}</h2>

        <p *ngFor="let text of expectations[2].text">{{ text }}</p>
      </div>
      <img [src]="expectations[2].img" alt="picture" class="expectation-pic" />
    </mat-card>
    <mat-card class="expectation tile" tabindex="1234">
      <img [src]="expectations[3].img" alt="picture" class="expectation-pic" />

      <div class="expectation-text">
        <h2 class="expectation-title">{{ expectations[3].title }}</h2>

        <p *ngFor="let text of expectations[3].text">{{ text }}</p>
      </div>
    </mat-card>
  </div>
  <div class="accordion">
    <mat-accordion>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title class="expansion-header">
            {{ expectations[0].title }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="expansion-text">После окончания обучения вы будете знать:</p>
        <mat-list>
          <mat-list-item *ngFor="let text of expectations[0].text">{{
            text
          }}</mat-list-item>
        </mat-list>
        <img
          [src]="expectations[0].img"
          alt="picture"
          class="expectation-pic"
        />
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="expansion-header">
            {{ expectations[1].title }}</mat-panel-title
          ></mat-expansion-panel-header
        >
        <p class="expansion-text" *ngFor="let text of expectations[1].text">
          {{ text }}
        </p>
        <img
          [src]="expectations[1].img"
          alt="picture"
          class="expectation-pic"
        />
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="expansion-header">
            {{ expectations[2].title }}</mat-panel-title
          ></mat-expansion-panel-header
        >
        <p class="expansion-text" *ngFor="let text of expectations[2].text">
          {{ text }}
        </p>
        <img
          [src]="expectations[2].img"
          alt="picture"
          class="expectation-pic"
        />
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="expansion-header">
            {{ expectations[3].title }}</mat-panel-title
          ></mat-expansion-panel-header
        >
        <p class="expansion-text" *ngFor="let text of expectations[3].text">
          {{ text }}
        </p>
        <img
          [src]="expectations[3].img"
          alt="picture"
          class="expectation-pic"
        />
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="limited-offer">
    <h1 class="five-groups-title title">
      {{
        "Только пять групп обучения на условиях 40% комиссии с первой сделки!"
      }}
    </h1>
    <div class="five-groups-block">
      <div class="studying-date danger-tile tile">29 июня</div>
      <div class="studying-date danger-tile tile">15 июля</div>
      <div class="studying-date danger-tile tile">15 августа</div>
      <div class="studying-date danger-tile tile">27 августа</div>
      <div class="studying-date danger-tile tile">9 сентября</div>
    </div>
  </div>
  <app-reg-form></app-reg-form>
</div>
