@import "../styles.scss";

.nav-header {
  height: 7.2vh;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  a {
    color: #673ab7;
  }
  a:hover {
    color: #6f36b3;
    text-shadow: #0003 0 0 2px;
  }
  .nav-link.active {
    background-color: #673ab7;
    color: #fff;
    padding: 1.89vh;
  }
}
@media screen and (max-width: 767px) {
  .nav-header {
    display: none;
  }
}
