@import "../../../styles.scss";
* {
  max-width: 700px;
  max-height: 80vh;
  overflow: scroll;
}
.title {
  display: none;
}
.dialog-header {
  display: flex;
  align-items: center;
  justify-content: end;
}
