<header class="main-page-header">
  <div class="parallax-image">
    <div class="black-bg">
      <p class="header-page-text title">
        {{ "Работа с недвижимостью - это здорово! " | uppercase }}
      </p>
    </div>
  </div>
  <div class="page-title">
    <div class="black-bg">
      <h1 class="header-page-text title">
        {{ "Работа с недвижимостью - это здорово! " | uppercase }}
      </h1>
    </div>
  </div>
</header>

<div class="main-text">
  <div>
    <h1 class="bold">
      {{
        "Мы приглашаем в свою команду и риэлторов с опытом и тех, кто не имеет опыта работы в недвижимости, но очень хочет самореализоваться в этой сфере"
          | uppercase
      }}
    </h1>
    <h2>
      {{
        "Новичков-риэлторов принимаем на самых выгодных условиях в городе!"
          | uppercase
      }}
    </h2>
  </div>
  <div></div>
</div>

<div class="desktop-content">
  <div class="intro-into-realty">
    <div class="image-container">
      <img src="../../assets/main-text-img.png" alt="" />
    </div>
    <div class="text-container">
      <h1>
        {{ "Сегодня профессия риэлтор уже известна всем! " }}
      </h1>
      <p>
        {{
          "Эта профессия является социально важной, ответственной и стабильной, а работа в этой сфере будет всегда и для всех, ведь что бы не происходило, чтобы не случилось в экономике и жизни страны, люди всегда будут испытывать потребность в решении жилищных вопросов."
        }}
      </p>
      <p>
        {{
          "Сегодня в этой сфере могут работать люди различных профессий: учителя и юристы, администраторы и офис-менеджеры, психологи и инженеры. Свободный график позволяет совмещать риэлторскую деятельность с основной работой, учебой, домашним хозяйством. Однако, если Вы хотите и планируете стать высокопрофессиональным и востребованным риэлтором, то эта работа должна стать вашим образом жизни!"
        }}
      </p>
    </div>
  </div>

  <div class="vacansii">
    <h1 class="vacancies-header title">Наши вакансии:</h1>
    <div class="cards">
      <div class="card">
        <div class="card__side card__side--front card__side--front-1">
          <div class="card__description">
            <img
              src="../../assets/Stuck at Home - Sitting On Chair.png"
              alt="Риэлтор-стажёр"
              class="vacancy-pic"
            />
            <h3>Риэлтор-стажёр</h3>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
          <div class="card__description">
            <h3>Риэлтор-стажёр</h3>
            <p>
              Подойдет вам, если вы активный, общительный, позитивный человек и
              не имеете опыта работы в недвижимости!
            </p>
            <p>
              Мы готовы делиться всем нашим опытом и знаниями, наработанными
              более, чем за 20 лет!
            </p>
            <a href="/vacansii/intern" class="explore-vacancy-link">
              Узнать подробнее <mat-icon>arrow_forward</mat-icon>
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__side card__side--front card__side--front-2">
          <div class="card__description">
            <img
              src="../../assets/Stuck at Home - Sitting On Floor.png"
              alt="Риэлтор-эксперт"
              class="vacancy-pic"
            />
            <h3>Риэлтор-эксперт</h3>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-2">
          <div class="card__description">
            <h3>Риэлтор-эксперт</h3>
            <p>
              Подойдет вам, если вы уже имеете опыт работы в недвижимости и
              хотите обрести коллектив единомышленников!
            </p>
            <p>
              Мы понимаем, какой объем работы совершает агент полного цикла, мы
              уважаем его труд и готовы оплачивать его достойно!
            </p>
            <a href="/vacansii/expert" class="explore-vacancy-link">
              Узнать подробнее <mat-icon>arrow_forward</mat-icon>
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__side card__side--front card__side--front-3">
          <div class="card__description">
            <img
              src="../../assets/Stuck at Home - Standing.png"
              alt="Менеджер группы"
              class="vacancy-pic"
            />
            <h3>Менеджер группы</h3>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-3">
          <div class="card__description">
            <h3>Менеджер группы</h3>
            <p>
              Подойдет вам, если у вас уже есть опыт работы в недвижимости и вы
              чувствуете, что можете больше и жаждете карьерного роста!
            </p>
            <p>
              У нас вы приобретёте команду, которая всегда готова прийти на
              выручку
            </p>
            <a href="/vacansii/manager" class="explore-vacancy-link">
              Узнать подробнее <mat-icon>arrow_forward</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="video-block">
    <div class="text-container">
      <p>
        Сегодня наши двери открыты для тех, кто не имеет опыта работы в
        недвижимости. Для Вас в компании разработана система обучения,
        сочетающая теоретические занятия, тренинги по отработке скриптов,
        практику, интенсив по формированию навыков, семинары. Обучение
        интегрировано в практику уже с первой недели. Это способствует
        быстрейшему вливанию в профессию и выходу на сделку уже в первый месяц
        работы! Опытные наставники будут идти с вами плечом к плечу к вашему
        успеху и обеспечат поддержку на любом этапе вашего движения вперед! Вы
        получите неограниченные возможности для совершенствования Ваших навыков
        и знаний, обучаясь у лучших и решая свои сверхамбициозные задачи!!!
      </p>
    </div>
    <div class="video">
      <video controls>
        <source src="../../assets/Квартал_FHD_new (1).mp4" type="video/mp4" />
        Sorry, your browser doesn't support embedded videos.
      </video>
    </div>
  </div>

  <div class="whyWe">
    <h1 class="title">{{ "Почему мы:" | uppercase }}</h1>
    <div class="accordion-block">
      <mat-accordion color="primary" class="accordion">
        <mat-expansion-panel
          *ngFor="let text of aboutUsText"
          [expanded]="text.isExpanded"
        >
          <mat-expansion-panel-header class="expansion-panel-header">
            <mat-panel-title class="expansion-header">
              {{ text.title | uppercase }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="expansion-text" *ngFor="let paragraph of text.text">
            {{ paragraph }}
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

<div class="mobile-content">
  <div class="vacansii">
    <h1 class="vacancies-header title">Наши вакансии:</h1>
    <div class="cards">
      <div class="card">
        <div class="card__side card__side--front card__side--front-1">
          <div class="card__description">
            <img
              src="../../assets/Stuck at Home - Sitting On Chair.png"
              alt="Риэлтор-стажёр"
              class="vacancy-pic"
            />
            <h3>Риэлтор-стажёр</h3>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-1">
          <div class="card__description">
            <h3>Риэлтор-стажёр</h3>
            <p>
              Подойдет вам, если вы активный, общительный, позитивный человек и
              не имеете опыта работы в недвижимости!
            </p>
            <p>
              Мы готовы делиться всем нашим опытом и знаниями, наработанными
              более, чем за 20 лет!
            </p>
            <a href="/vacansii/intern" class="explore-vacancy-link">
              Узнать подробнее <mat-icon>arrow_forward</mat-icon>
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__side card__side--front card__side--front-2">
          <div class="card__description">
            <img
              src="../../assets/Stuck at Home - Sitting On Floor.png"
              alt="Риэлтор-эксперт"
              class="vacancy-pic"
            />
            <h3>Риэлтор-эксперт</h3>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-2">
          <div class="card__description">
            <h3>Риэлтор-эксперт</h3>
            <p>
              Подойдет вам, если вы уже имеете опыт работы в недвижимости и
              хотите обрести коллектив единомышленников!
            </p>
            <p>
              Мы понимаем, какой объем работы совершает агент полного цикла, мы
              уважаем его труд и готовы оплачивать его достойно!
            </p>
            <a href="/vacansii/expert" class="explore-vacancy-link">
              Узнать подробнее <mat-icon>arrow_forward</mat-icon>
            </a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__side card__side--front card__side--front-3">
          <div class="card__description">
            <img
              src="../../assets/Stuck at Home - Standing.png"
              alt="Менеджер группы"
              class="vacancy-pic"
            />
            <h3>Менеджер группы</h3>
          </div>
        </div>
        <div class="card__side card__side--back card__side--back-3">
          <div class="card__description">
            <h3>Менеджер группы</h3>
            <p>
              Подойдет вам, если у вас уже есть опыт работы в недвижимости и вы
              чувствуете, что можете больше и жаждете карьерного роста!
            </p>
            <p>
              У нас вы приобретёте команду, которая всегда готова прийти на
              выручку
            </p>
            <a href="/vacansii/manager" class="explore-vacancy-link">
              Узнать подробнее <mat-icon>arrow_forward</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="whyWe">
    <h1 class="title">{{ "Почему мы:" | uppercase }}</h1>
    <div class="accordion-block">
      <mat-accordion color="primary" class="accordion">
        <mat-expansion-panel
          *ngFor="let text of aboutUsText"
          [expanded]="text.isExpanded"
        >
          <mat-expansion-panel-header class="expansion-panel-header">
            <mat-panel-title class="expansion-header">
              {{ text.title | uppercase }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="expansion-text" *ngFor="let paragraph of text.text">
            {{ paragraph }}
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="intro-into-realty">
    <div class="image-container">
      <img src="../../assets/main-text-img.png" alt="" />
    </div>
    <div class="text-container">
      <h1>
        {{ "Сегодня профессия риэлтор уже известна всем! " }}
      </h1>
      <p>
        {{
          "Эта профессия является социально важной, ответственной и стабильной, а работа в этой сфере будет всегда и для всех, ведь что бы не происходило, чтобы не случилось в экономике и жизни страны, люди всегда будут испытывать потребность в решении жилищных вопросов."
        }}
      </p>
      <p>
        {{
          "Сегодня в этой сфере могут работать люди различных профессий: учителя и юристы, администраторы и офис-менеджеры, психологи и инженеры. Свободный график позволяет совмещать риэлторскую деятельность с основной работой, учебой, домашним хозяйством. Однако, если Вы хотите и планируете стать высокопрофессиональным и востребованным риэлтором, то эта работа должна стать вашим образом жизни!"
        }}
      </p>
    </div>
  </div>
  <div class="video-block">
    <div class="text-container">
      <p>
        Сегодня наши двери открыты для тех, кто не имеет опыта работы в
        недвижимости. Для Вас в компании разработана система обучения,
        сочетающая теоретические занятия, тренинги по отработке скриптов,
        практику, интенсив по формированию навыков, семинары. Обучение
        интегрировано в практику уже с первой недели. Это способствует
        быстрейшему вливанию в профессию и выходу на сделку уже в первый месяц
        работы! Опытные наставники будут идти с вами плечом к плечу к вашему
        успеху и обеспечат поддержку на любом этапе вашего движения вперед! Вы
        получите неограниченные возможности для совершенствования Ваших навыков
        и знаний, обучаясь у лучших и решая свои сверхамбициозные задачи!!!
      </p>
    </div>
    <div class="video">
      <video controls>
        <source src="../../assets/Квартал_FHD_new (1).mp4" type="video/mp4" />
        Sorry, your browser doesn't support embedded videos.
      </video>
    </div>
  </div>
</div>

<div class="gift">
  <div class="gift-1">
    <h2 class="square gift-header">
      {{ "Эта работа подарит вам" | uppercase }}
    </h2>
    <div class="square pic-1">
      <div class="black-bg">
        <p>{{ "Самореализацию и ценные навыки" | uppercase }}</p>
      </div>
    </div>
  </div>
  <div class="gift-2">
    <div class="square pic-2">
      <div class="black-bg">
        <p>{{ "Высокий доход" | uppercase }}</p>
      </div>
    </div>
    <div class="square pic-3">
      <div class="black-bg">
        <p>{{ "Работу, приносящую счастье" | uppercase }}</p>
      </div>
    </div>
    <div class="square pic-4">
      <div class="black-bg">
        <p>{{ "Радость побед" | uppercase }}</p>
      </div>
    </div>
  </div>
  <div class="gift-3">
    <div class="square pic-5">
      <div class="black-bg">
        <p>{{ "Команду успешных людей" | uppercase }}</p>
      </div>
    </div>
    <div class="square pic-6">
      <div class="black-bg">
        <p>{{ "Новые возможности" | uppercase }}</p>
      </div>
    </div>
  </div>
</div>

<div class="limited-offer">
  <h1 class="title">
    {{
      "Только пять групп обучения для новичков на условиях 40% комиссии с первой сделки!"
    }}
  </h1>
  <div class="five-groups-block">
    <div class="studying-date">11 июля</div>
    <div class="studying-date">31 июля</div>
    <div class="studying-date">15 августа</div>
    <div class="studying-date">27 августа</div>
    <div class="studying-date">9 сентября</div>
  </div>
</div>
<app-timer></app-timer>
<app-reg-form></app-reg-form>
