<h1 class="title">Записаться на cобеседование</h1>
<div class="feedback-form-block">
  <form
    class="feedback-form"
    [formGroup]="registrationForm"
    #formDirective="ngForm"
    (ngSubmit)="submitForm(formDirective)"
  >
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Ваше имя</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="registrationForm.controls['name'].hasError('required')">
        Это <strong>обязательное</strong> поле
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        [errorStateMatcher]="matcher"
        placeholder="Например pat@example.com"
      />
      <mat-error
        *ngIf="
          registrationForm.controls['email'].hasError('email') &&
          !registrationForm.controls['email'].hasError('required')
        "
      >
        Пожалуйста, введите корректный email
      </mat-error>
      <mat-error
        *ngIf="registrationForm.controls['email'].hasError('required')"
      >
        Это <strong>обязательное</strong> поле
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Номер телефона</mat-label>
      <span matPrefix>+7 &nbsp;</span>
      <input
        type="tel"
        matInput
        placeholder="9999999999"
        formControlName="number"
      />
      <mat-error
        *ngIf="
          registrationForm.controls['number'].hasError('pattern') &&
          !registrationForm.controls['number'].hasError('required')
        "
      >
        Пожалуйста, введите корректный номер телефона
      </mat-error>
      <mat-error
        *ngIf="registrationForm.controls['number'].hasError('required')"
      >
        Это <strong>обязательное</strong> поле
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Выберите вакансию</mat-label>
      <mat-select formControlName="vacancy">
        <mat-option value="Риэлтор-стажёр">Риэлтор-стажёр</mat-option>
        <mat-option value="Риэлтор-эксперт">Риэлтор-эксперт</mat-option>
        <mat-option value="Менеджер группы">Менеджер группы</mat-option>
      </mat-select>
      <mat-error
        *ngIf="registrationForm.controls['vacancy'].hasError('required')"
      >
        Это <strong>обязательное</strong> поле
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Выберите дату</mat-label>
      <mat-select formControlName="date" multiple>
        <mat-option *ngFor="let date of dateList" [value]="date">{{
          date
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="registrationForm.controls['date'].hasError('required')">
        Это <strong>обязательное</strong> поле
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Ваше сообщение</mat-label>
      <textarea matInput formControlName="message"></textarea>
    </mat-form-field>
    <p>
      Нажимая кнопку "Отправить", вы принимаете
      <a href="">условия обработки данных</a>
    </p>
    <div class="buttons">
      <button
        mat-stroked-button
        type="submit"
        color="primary"
        сlass="form-button "
        [disabled]="registrationForm.invalid"
      >
        Отправить
      </button>
    </div>
  </form>
</div>
