<div class="conditions-block">
  <mat-card
    class="condition tile"
    tabindex="1234"
    *ngFor="let condition of conditions"
  >
    <h2>{{ condition.title }}</h2>
    <ul class="list">
      <li *ngFor="let item of condition.items" class="listitem">
        {{ item }}
      </li>
    </ul>
  </mat-card>
</div>

<swiper
  [slidesPerView]="1"
  [spaceBetween]="30"
  [loop]="true"
  [pagination]="{
    clickable: true
  }"
  class="mySwiper"
>
  <ng-template swiperSlide *ngFor="let condition of conditions">
    <mat-card class="condition tile">
      <h2>{{ condition.title }}</h2>
      <ul class="list">
        <li *ngFor="let item of condition.items" class="listitem">
          {{ item }}
        </li>
      </ul>
    </mat-card></ng-template
  >
</swiper>
