<div class="conditions-block">
  <mat-card class="condition tile" *ngFor="let condition of conditions">
    <h2>{{ condition.title }}</h2>
    <mat-list role="list">
      <mat-list-item
        role="listitem"
        *ngFor="let item of condition.items"
        class="listitem"
        >{{ item }}</mat-list-item
      >
    </mat-list>
  </mat-card>
</div>

<swiper
  [slidesPerView]="1"
  [spaceBetween]="30"
  [loop]="true"
  [pagination]="{
    clickable: true
  }"
  class="mySwiper"
>
  <ng-template swiperSlide *ngFor="let condition of conditions">
    <mat-card class="condition tile">
      <h2>{{ condition.title }}</h2>
      <mat-list role="list">
        <mat-list-item
          role="listitem"
          *ngFor="let item of condition.items"
          class="listitem"
          >{{ item }}</mat-list-item
        >
      </mat-list>
    </mat-card></ng-template
  >
</swiper>
