@import "../../styles.scss";

.information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10vw;
  margin: 30px 10vw 0px 10vw;
}
.info {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

.greeting {
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  margin-bottom: 60px;
}
