<div class="expert-page">
  <h1 class="title">
    {{ "
      Работа с недвижимостью - это здорово!" | uppercase }}
  </h1>
  <hr />
  <div class="conditions-block">
    <mat-card class="condition tile">
      <h2>Мы ждём тебя, если ты:</h2>
      <mat-list role="list">
        <mat-list-item role="listitem"
          >Знаешь работу риэлтора “изнутри”</mat-list-item
        >
        <mat-list-item role="listitem"
          >Умеешь расставлять приоритеты</mat-list-item
        >
        <mat-list-item role="listitem">Знаешь конъюктуру рынка</mat-list-item>
        <mat-list-item role="listitem">Умеешь работать в команде</mat-list-item>
        <mat-list-item role="listitem"
          >Владеешь основами делового общения</mat-list-item
        >
        <mat-list-item role="listitem"
          >Знаешь как выстроить диалог с клиентом</mat-list-item
        >
        <mat-list-item>У тебя есть опыт работы в недвижимости</mat-list-item>
        <mat-list-item>Ты чувствуешь, что можешь больше</mat-list-item>
        <mat-list-item>Ты хочешь карьерного роста </mat-list-item>
      </mat-list>
    </mat-card>

    <mat-card class="condition tile">
      <h2>
        Приглашаем в нашу команду менеджера, готового к реализации следующих
        задач:
      </h2>
      <mat-list role="list">
        <mat-list-item role="listitem"
          >Организация продуктивной работы группы агентов</mat-list-item
        >
        <mat-list-item role="listitem"
          >Проведение собраний группы агентов
        </mat-list-item>
        <mat-list-item role="listitem"
          >Принятие отчетности группы агентов</mat-list-item
        >
        <mat-list-item role="listitem"
          >Распределение рекламного бюджета группы агентов</mat-list-item
        >
        <mat-list-item role="listitem">Постановка задач агентам</mat-list-item>
        <mat-list-item role="listitem"
          >Распределение информации в рамках своей группы</mat-list-item
        >
        <mat-list-item role="listitem"
          >Контроль работы по договорам с клиентами</mat-list-item
        >
        <mat-list-item role="listitem"
          >Проведение переговоров с клиентами
        </mat-list-item>
        <mat-list-item role="listitem"
          >Проведение подготовительного этапа сделки</mat-list-item
        >
        <mat-list-item role="listitem"
          >Сопровождение сделок группы</mat-list-item
        >
        <mat-list-item role="listitem"
          >Выдвижение идей по организации работы</mat-list-item
        >
        <mat-list-item role="listitem"
          >Адаптация новых сотрудников</mat-list-item
        >
      </mat-list>
    </mat-card>

    <mat-card class="condition tile">
      <h2>У нас ты приобретешь</h2>
      <mat-list>
        <mat-list-item>Отличные условия оплаты</mat-list-item>
        <mat-list-item>Повышение своего статуса</mat-list-item>
        <mat-list-item>Покрытие мобильной связи</mat-list-item>
        <mat-list-item>Комфортные условия работы</mat-list-item>
        <mat-list-item>Покрытие рекламных расходов</mat-list-item>
        <mat-list-item>Возможность быть креативным</mat-list-item>
        <mat-list-item>Официальное трудоустройство</mat-list-item>
        <mat-list-item>Позитивную рабочую атмосферу</mat-list-item>
        <mat-list-item>Возможность дальнейшего роста</mat-list-item>
        <mat-list-item>Команду, готовую к взаимопомощи</mat-list-item>
        <mat-list-item>Повышение квалификации за счёт компании</mat-list-item>
      </mat-list>
    </mat-card>
  </div>
  <h1 class="title">Чем ты не будешь заниматься:</h1>
  <div class="information">
    <mat-card class="info tile">
      Менеджер не ведет прием новых сотрудников - в агентстве есть специалист,
      координирующий прием стажеров
    </mat-card>
    <mat-card class="info tile">
      Менеджер не занимается обучением новых сотрудников. мы направляем в группы
      сотрудников, обучившихся в учебном центре
    </mat-card>
  </div>
  <p class="greeting title">
    Приветствуем лидеров со своими сложившимися коллективами!
  </p>
  <p class="greeting title">
    Опыт работы менеджером не обязателен, главное - опыт работы риэлтором
  </p>
  <app-reg-form></app-reg-form>
</div>
