<div class="manager-page">
  <header class="manager-page-header">
    <mat-toolbar color="primary" class="mobile-title toolbar-row">
      <span>Менеджер группы</span>
    </mat-toolbar>
    <div class="parallax-image">
      <div class="black-bg">
        <p class="header-page-text title">
          {{ "Открой для себя новые горизонты!" | uppercase }}
        </p>
      </div>
    </div>
    <div class="page-title">
      <div class="black-bg">
        <h1 class="header-page-text title">
          {{ "Открой для себя новые горизонты!" | uppercase }}
        </h1>
      </div>
    </div>
  </header>

  <conditions-block [conditions]="conditions"></conditions-block>
  <h1 class="title">
    Чем ты <span class="danger-title">не</span> будешь заниматься:
  </h1>
  <div class="information">
    <mat-card class="info danger-tile">
      Менеджер не ведет прием новых сотрудников - в агентстве есть специалист,
      координирующий прием стажеров
    </mat-card>
    <mat-card class="info danger-tile">
      Менеджер не занимается обучением новых сотрудников. мы направляем в группы
      сотрудников, обучившихся в учебном центре
    </mat-card>
  </div>
  <p class="greeting title">
    Приветствуем лидеров со своими сложившимися коллективами!
  </p>
  <p class="greeting title">
    Опыт работы менеджером не обязателен, главное - опыт работы риэлтором
  </p>
  <app-reg-form></app-reg-form>
</div>
