@import "../../styles.scss";
@import "~swiper/scss";
@import "~swiper/scss/pagination";
@import "~swiper/scss/navigation";

.parallax-image {
  background: url("../../assets/manager-bg.jpeg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.black-bg {
  width: 100%;
  min-height: 20vh;
}

.information {
  display: grid;
}

.info {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

.greeting {
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .mobile-title {
    display: none;
  }
  .information {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10vw;
    margin: 30px 10vw 0px 10vw;
  }
}
@media screen and (max-width: 767px) {
  .parallax-image {
    display: none;
  }
  .page-title {
    background: url("../../assets/manager-bg.jpeg");
    background-position: bottom;
    background-size: cover;
  }
  .information {
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    margin: 30px 5vw 0px 5vw;
  }
}
