<div class="expert-page">
  <h1 class="title">
    {{ "
      Работа с недвижимостью - это здорово!" | uppercase }}
  </h1>
  <hr />
  <conditions-block [conditions]="conditions"></conditions-block>
  <h1 class="title">Чем ты не будешь заниматься:</h1>
  <div class="information">
    <mat-card class="info tile">
      Менеджер не ведет прием новых сотрудников - в агентстве есть специалист,
      координирующий прием стажеров
    </mat-card>
    <mat-card class="info tile">
      Менеджер не занимается обучением новых сотрудников. мы направляем в группы
      сотрудников, обучившихся в учебном центре
    </mat-card>
  </div>
  <p class="greeting title">
    Приветствуем лидеров со своими сложившимися коллективами!
  </p>
  <p class="greeting title">
    Опыт работы менеджером не обязателен, главное - опыт работы риэлтором
  </p>
  <app-reg-form></app-reg-form>
</div>
