html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

.toolbar {
  width: 100vw;
}

.toolbar-row {
  box-shadow: 0 3px 5px -1px #673ab724, 0 6px 10px #673ab724,
    0 1px 18px #673ab724;
  width: 100%;
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
  letter-spacing: 5px;
  margin-top: 30px;
  width: 100%;
}
.danger-title {
  color: #d52323;
  text-transform: uppercase;
}

.tile:hover {
  box-shadow: 0 3px 5px -1px #673ab724, 0 6px 10px #673ab724,
    0 1px 18px #673ab724;
}
.danger-tile {
  box-shadow: 0 3px 5px -1px #d5232324, 0 6px 10px #d5232324,
    0 1px 18px #d5232324;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-bg {
  background: rgba(0, 0, 0, 0.356);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-page-text {
  color: #fff;
}
.large {
  font-size: xx-large;
}
.limited-offer {
  margin: 40px 5vw 30px 5vw;
}
.five-groups-title {
  font-weight: 900;
}
.five-groups-block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 30px;
}
.studying-date {
  word-wrap: normal;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-color: #00000024;
  box-shadow: 0 3px 5px -1px #673ab724, 0 6px 10px #673ab724,
    0 1px 18px #673ab724;
}

.expansion-header {
  align-self: center;
  font-size: 16px;
}
.expansion-text {
  margin: 20px;
  font-size: 16px;
}

@media screen and (min-width: 980px) {
  .toolbar-row {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .header-page-text {
    font: 400 8.33vh/8.33vh Roboto, "Helvetica Neue", sans-serif;
  }
}
@media screen and (min-width: 768px) {
  .parallax-image {
    min-height: 20vh;
  }
  .toolbar-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .five-groups-block {
    grid-gap: 5vw;
  }
  .studying-date {
    font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
    height: 14vw;
  }
  .page-title {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  .header-page-text {
    font: 400 5vh/5vh Roboto, "Helvetica Neue", sans-serif;
  }
}
@media screen and (max-width: 767px) {
  .parallax-image {
    display: none;
  }
  .header-page-text {
    font: 400 20px/32px Roboto, "Helvetica Neue", sans-serif;
  }
  .five-groups-block {
    grid-gap: 2vw;
  }
  .studying-date {
    font-size: x-small;
    height: 16.4vw;
  }
}
