html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toolbar {
  width: 100vw;
}

.toolbar-row {
  box-shadow: 0 3px 5px -1px #673ab724, 0 6px 10px #673ab724,
    0 1px 18px #673ab724;
  width: 100%;
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
  letter-spacing: 5px;
  margin-top: 30px;
  width: 100%;
}
.danger-title {
  color: #d52323;
  text-transform: uppercase;
}

.tile:hover {
  box-shadow: 0 3px 5px -1px #673ab724, 0 6px 10px #673ab724,
    0 1px 18px #673ab724;
}
.danger-tile {
  box-shadow: 0 3px 5px -1px #d5232324, 0 6px 10px #d5232324,
    0 1px 18px #d5232324;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-bg {
  background: rgba(0, 0, 0, 0.356);
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-text {
  color: #fff;
}

@media screen and (min-width: 980px) {
  .toolbar-row {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .scroll-text {
    font: 400 8.33vh/8.33vh Roboto, "Helvetica Neue", sans-serif;
  }
}
@media screen and (min-width: 768px) {
  .toolbar-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  .parallax-image,
  .black-bg {
    min-height: 20vh;
  }
  .scroll-text {
    font: 400 5vh/5vh Roboto, "Helvetica Neue", sans-serif;
  }
}
@media screen and (max-width: 767px) {
  .parallax-image,
  .black-bg {
    min-height: 15vh;
  }
  .scroll-text {
    font: 400 20px/32px Roboto, "Helvetica Neue", sans-serif;
  }
}
